@use "tailwindcss";

:root {
  --bg: #f8fafc; /* light background */
  --fg: #0a0e14; /* light foreground */
}

.dark {
  --bg: #071124;
  --fg: #e7edf5;
  --bgSecond: #0b1425;
}

body {
  background-color: var(--bg);
  --background-secondary-color: var(--bgSecond);
  color: var(--fg);
}

html {
  scroll-behavior: smooth;
}